/* Inicio section start */
.inicio {
   height: 100vh;
   display: flex;
   align-items: center;
   padding: 0 10%;
}

.inicio-contenido {
    max-width: 600px;
}
.inicio-contenido h1 {
    position: relative;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
}

.inicio-contenido h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--main-blue);
    animation: showRight 1s ease forwards;
    animation-delay: .1s;
}

.inicio-contenido h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: var(--second-blue);
}

.inicio-contenido h3 span {
   position: relative;
   display: inline-block;
   color: transparent;
   -webkit-text-stroke: .7px var(--second-blue);
   animation: display-text steps(5) infinite;
   animation-delay: calc(-4s * var(--i));
}

.inicio-contenido h3 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid var(--second-blue);
    color: var(--second-blue);
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 6s steps(30) infinite;
}
.inicio-contenido h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--main-blue);
    animation: showRight 1s ease forwards;
    animation-delay: .1.3s;
}
.inicio-contenido p {
   position: relative;
   font-size: 16px;
   margin: 20px 0 40px;
}
.inicio-contenido p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--main-blue);
    animation: showRight 1s ease forwards;
    animation-delay: .1.6s; 
}

.inicio-contenido .btn-Box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height:50px;
}
.inicio-contenido .btn-Box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--main-blue);
    animation: showRight 1s ease forwards;
    animation-delay: .1s;
    z-index: 2;
}

.btn-Box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: var(--second-blue);
    border: 2px solid var(--second-blue);
    border-radius: 8px;
    font-size: 19px;
    color: var(--main-blue);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s ease;
}
.btn-Box a:hover {
     color: var(--second-blue);
} 

.btn-Box a:nth-child(2) {
    background: transparent;
    color: var(--second-blue);
}

.btn-Box a:nth-child(2):hover {
    color: var(--main-blue);
}

.btn-Box a:nth-child(2)::before {
    background: var(--second-blue);
}

.btn-Box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-blue);
    z-index: -1;
    transition: .5s;
}

.btn-Box a:hover::before {
    width:100%;
} 

.inicio-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.inicio-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--main-blue);
    animation: showRight 1s ease forwards;
    animation-delay: .2.5s;
    z-index: 2;
}

.inicio-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background: transparent;
    border: 2px solid var(--second-blue);
    border-radius: 50%;
    font-size: 20px;
    color: var(--second-blue);
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
}

.inicio-sci a::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgb(0, 171, 240, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.4s ease, height 0.4s ease;
    z-index: 0;
  }
  .inicio-sci a:hover {
    color: var(--main-white);
  }

.inicio-sci a:hover::after {
    width: 200%;
    height: 200%;
  }

.inicio-sci a > * {
    position: relative;
    z-index: 1;
  }
.home-img .img-box {
    position: relative;
    width: 32vw;
    height: 32vw;
    left: 120px;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-box .img-item::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--main-blue);
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.home-img .img-box::before,
.home-img .img-box::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent, transparent, 
    transparent, var(--second-blue));
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}
.home-img .img-box::after {
    animation-delay: -5s;
}

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--main-blue);
    border-radius: 50%;
    border: .1px solid var(--main-blue);
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}
.home-img .img-box .img-item img{
    position: absolute;
    display: block;
    width: 110%;
    object-fit:cover;
    mix-blend-mode: lighten;

}
  
  @media (max-width: 767px) {
    .inicio {
     display: flex;
     flex-direction: column;
     padding: 15% 5% 10%;
    }
    
    .inicio-contenido h1 {
        font-size: 40px;
        padding-top: 10%;
    }
    .inicio-contenido h3 {
        font-size: 25px;
    }
    .inicio-contenido p {
        font-size: 14px;
        margin: 10px 0 10px;
        padding-bottom: 10%;
    }
    .inicio-contenido .btn-Box {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        height: 50px;
    }
    .home-img {
        display: flex !important;
        justify-content: center;
        margin-top: 30px;
    }
    
    .home-img .img-box {
        width: 130px;
        height: 130px;
        left: 0;
    }  
}
/* Main section end */