.tag-list {
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
    position: relative; /* Cambiado de hidden a relative */
}

.inner {
    display: flex;
    width: max-content;
    gap: 1rem;
    animation: scroll-loop 20s linear infinite;
}

.tag {
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    color: var(--main-white);
    font-size: 0.9rem;
    background-color: #334155;
    padding: 0.7rem 1rem;
    border-radius: 0.4rem;
    box-shadow: 0 0.1rem 0.2rem #00000033,
                0 0.1rem 0.5rem #0000004d,
                0 0.2rem 1.5rem #00000066;
}

.tag span {
    font-size: 1.2rem;
    color: #64748b;
}

.fade {
    position: absolute;
    background: linear-gradient(90deg, #1e293b, transparent 30%, transparent 70%, #1e293b);
    inset: 0;
    pointer-events: none;
}
