/* Skill section start */
.skills {
    padding: 5rem 0 8rem 0;
}
.container__title {
    color: var(--second-blue);
    font-size: 30px;
    text-align: center;
}

.container__paragraph {
    text-align: center;
    padding: 13px 0 50px 0;
}


.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  max-width: 1200px;
  margin: 4rem auto;
  padding: 0 2rem;
}
.skill-card{
  background: linear-gradient(145deg, rgba(14, 14, 40, 0.9), rgba(33, 33, 77, 0.9));
  border: 1px solid rgba(0, 255, 255, 0.1);
  border-radius: 16px;
  padding: 2rem;
  color: var(--main-white);
  box-shadow:
    0 0 15px rgba(0, 255, 255, 0.2),
    0 0 30px rgba(0, 255, 255, 0.1) inset;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%; 
}
.skill-card:hover {
  transform: translateY(-8px);
  box-shadow:
    0 0 25px rgba(0, 255, 255, 0.4),
    0 0 50px rgba(0, 255, 255, 0.2) inset;
}
.skill-card h2 {
  font-family: sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.icons {
  display: flex;
  flex-wrap: wrap; /* Permite que los iconos pasen a la siguiente línea si no caben */
  gap: 1rem; /* Espacio entre iconos */
  justify-content: center; /* Centra los iconos horizontalmente */
}
.skill-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, filter 0.3s ease;
  text-align: center;
  min-width: 60px;
}
.skill-icon svg {
  width: 60px;
  height: 60px;
  background: var(--second-blue);
  border-radius: 25%;
  object-fit: contain;
  margin-bottom: 0.5rem;
  filter: drop-shadow(0 0 5px rgba(0, 171, 240, 0.4));
}
.skill-icon:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}
@media (max-width: 900px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Responsive: 1 columna en pantallas pequeñas */
@media (max-width: 600px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }
}
/* Skill section end */