.card {
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #050505;
  color: var(--main-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.card-back {
  background-color: #050505;
  color: var(--main-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}

.contact__container-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact__image {
    width: 450px;
    height: 350px;
    object-fit: cover;
}